# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the GoReleaser tool
dist/

# Binaries for make targets, downloaded via fetch.sh script
bin/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store
